body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

.navbar {
    min-height: 50px;
    width: 85vw;
    margin-left: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ddecf7;   
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;

}

.uitloggen {
    height: 30px;
    margin-right: 15px;
}

.sidenav {
    height: 100%;
    width: 15vw;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    background-color: #ddecf7;  
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center; 
  }

.mijnkluis{
    background-color: transparent;
    border: none;
  }

  .upload{
margin-top: 30px;
  }

  .filebrowser {
    position: relative;
    margin-left: 15vw;
    margin-top: 50px;
  
    width: auto;
    left: 0;
  }

.breadcrumbs {
    padding-left: 20px;
    padding-top: 20px;
}

.breadcrumbs_button:link {
    text-decoration: none;
    color: #111;
    }

.file_overview{
    padding-left: 20px;
    padding-top: 20px;
}


.col {
    border-bottom:1px solid rgb(73, 73, 73);
    padding-bottom: 10px;  
    text-align: left;
}

table {
    width: 100%;
}
  
td {
      padding-left: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: #fafafa;
      border-bottom: 1px solid #dcdcdc; 
      position: relative;
      
  
      &:not(:first-child):before {
        content: '';
        height: 1px; 
        width: 25px;
        background: #dcdcdc;
        display: block;
        position: absolute;
          left: -25px;
          bottom: -1px;
      }
    }

    .icon_text .fa {
            display: inline;
    }